<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <div th:replace="~{common :: styling}"></div>
    <link th:href="@{/css/collection.css}" rel="stylesheet" type="text/css">
    <title>All Series</title>
</head>

<body>
    <div th:replace="~{common :: navbar}"></div>
    <main>
        <header>
            <h1>Your Series Collection</h1>
        </header>

        <button type="button" class="formButton">Add a New Series to Your Collection</button>

        <div class="formsToggle">

            <form method="post" action="/series/newseries">
                <div>
                    <label for="name">Series Name</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="double">
                    <label for="yearsRunStart">Start of Series (Year)</label>
                    <input type="number" name="yearsRunStart" id="yearsRunStart" min="0" value="0">

                    <label for="yearsRunEnd">End of Series (Year)</label>
                    <input type="number" name="yearsRunEnd" id="yearsRunEnd" min="0" value="0">
                </div>
                <div>
                    <label for="coverArt">Cover Art</label>
                    <input type="url" name="coverArt" id="coverArt" value="https://placekitten.com/380/268">
                </div>
                <div>
                    <label for="imdbUrl">IMDb URL</label>
                    <input type="url" name="imdbUrl" id="imdbUrl">
                </div>
                <input type="submit">
            </form>
        </div>

        <form class="sortList">
            <select onchange="window.location.href=this.value">
                <option value="" selected hidden>Sort by</option>
                <option value="allseries?sort=name">Name</option>
            </select>
        </form>

        <ul class="collectionList">
            <li th:each="series : ${series}" class="movieItems">
                <h3 th:text="${series.getName()}"></h3>
                <img th:src="${series.getCoverArt()}">
                <a th:href="${'/series/update/' + series.getId()}">Further Detail</a>
            </li>
        </ul>
    </main>
    <div th:replace="~{common :: footer}"></div>

</body>

</html>