.collectionList{
  width: 100%;
  height: 600px;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.movieItems{
  background-color: rgba(146,116,83,0.7);
  border: 3px solid rgba(146, 116, 83);
  height: 220px;
  width: 20%;
  padding: 1%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 19px 30px 48px -34px rgba(51,48,51,0.68);
}

.wishItems{
  height: 260px;
}

.wishItems form{
  border: none;
  padding: 0;
  box-shadow: none;
}

.wishItems form button{
  background-color: rgba(146,116,83,0.7);
  color: rgb(192, 191, 190);
  font-size: .8rem;
}

.movieItems div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.movieItems > a > div > h3{
  color: rgba(192,191,190);
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  height: 20%;
  margin: 0 2% 5% 2%;
  overflow: hidden;
}

.movieItems > a > div > img{
  height: 160px;
  width: 120px;
  margin-bottom: 6%;
}

.movieItems > a{
  text-decoration: none;
}

.splash{
  width: 30%;
  height: 210px;
  margin: 0 8%;
}

.splash > a > div > img{
  width: 60%;
  margin: 0px 17%;
}

.sortList{
  width: 32%;
}

.sortList label{
  color: rgba(177, 175, 173);
  text-decoration: none;
  font-size: 1.5rem;
}

.sortList input{
  margin: 1em 0;
  height: 1.75em;
}

.sortList select{
  width: 100%;
  background-color: rgba(146, 116, 83, 0.8);
  color: rgba(223, 221, 219);
}



@media (max-width: 450px) {
  .movieItems{
    height: 40%;
    width: 40%;
    margin: 2%;
  }

  .movieItems > h3{
    font-size: 1rem;
  }

  .movieItems > img{
    height: 70%;
    width: 75%;
  }

  .movieItems > a{
    font-size: 1rem;
  }

}
