.delete{
  background-color: rgba(112,84,64, 0.1);
  width: 20%;
  box-shadow: none;
  border: none;
  margin: 0;
}

.delete button{
  background-color: rgb(70,73,81, 0.8);
  color: rgba(192,191,190);
  font-size: 1rem;
}

.iAmLoaned{
  background-color: rgba(248, 233, 93, 0.801);
  color: black;
  text-align: center;
  margin: 2% 0 2% 0;
  padding: 2% 0 2% 0;
  border-color: black;
  border-radius: 50%;
}

.iAmLoaned > h2 {
  font-size: 2.5rem;
}
.details{
  display: flex;
  flex-direction: row;
  margin: 15px 0 15px 0;
}

.details > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 75px 5px 30px;
  background-color: rgba(112,84,64,0.8);
}

.details img{
  height: 400px;
  width: 268px;
  margin-right: 50px;
}

.details p, a{
  color: rgba(202, 205, 211);
  font-size: 1.5rem;
  line-height: 150%;
}

.actorList{
  height: 50%;
  overflow: scroll;
}

.actorList li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actorList form{
  height: 1%;
  width: 10%;
  margin: 0 5%;
  border: 0;
  padding: 0;
  background-color: rgba(133, 110, 96);
  box-shadow: none;
}

.actorList form input{
  font-size: 1rem;
}

.dead{
  background-color: rgba(70, 47, 22, 0.7);
  padding: 15%;
}

.dead p{
  color: rgb(84, 127, 169);
}

@media (max-width: 450px) {
  .iAmLoaned > h2{
    font-size: 1.3rem;
    padding: 2%; 
  }

  .details > div{
    height: 32.5vh;
    overflow: scroll;
    padding: 3%;
  }

  .details > div :last-child{
    margin-top: 5%; 
  }

  .details img{
    height: 40%;
    width: 40%;
    margin-right: 3%; 
  }

  .details p, a{
    font-size: 1.2rem;
  }

  .actorList form{
    width: 20%;
  }

  .actorList form input{
    padding: .5%;
    font-size: .5rem;
  }

  .dead{
    padding: 5%;
  }
}
