html{
 background-image: url("https://images.unsplash.com/photo-1432139523732-e9d8af332501?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

body{
  width: 90%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  width: 90%;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.splashHeader{
  background-color: rgba(112,84,64,0.7);
  text-align: center;
  padding: 1%;
  color: rgb(226, 229, 230);
}

/* ************** nav styling **************** */
nav{
  background-color: rgb(70, 73, 81, 0.8);
  margin: 5px 0 5px 0;
}

nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav li{
  margin: 2% 0 2% 0;
}

nav a{
  color: rgb(177, 175, 173);
  text-decoration: none;
  font-size: 1.5rem;
}

header{
  background-color: rgba(112,84,64,0.9);
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
h1{
  font-size: 40px;
  color: rgb(177, 175, 173);
  margin-bottom: 12px;
}

/* ************* forms ************* */
.formButton{
  background-color: rgb(70,73,81, 0.8);
  font-size: 1.5rem;
  color: rgba(192,191,190);
  margin: 2% 0 2% 0;
}

.formsToggle{
  display: none;
}

form{
  background-color: rgba(146,116,83,0.8);
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 90%;
  margin: 2% auto;
  border: 6px solid rgba(146,116,83);
  box-shadow: 26px 11px 45px 9px rgba(51,48,51,0.7);
}

/* single liners */
form > div{
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin-bottom: 2%;
  width: 100%;
}

form > div > label{
  width: 12%;
  text-align: end;
  color: rgba(192,191,190);
  font-size: 1.5rem;
}

form > div > input{
  width: 80%;
  margin-left: 1%;
  height: 2.5em;
}

/* double liners */
.double > label{
  width: 12%;
  text-align: end;
  color: rgba(192,191,190);
  font-size: 1.5rem;
}

.double > input{
  margin-left: 1%;
  width: 33%;
  height: 2.5em;
}

form select{
  font-size: 1.2rem;
  width: 34%;
  height: 12%;
  margin-left: 1%;
}

.double p{
  color: rgba(192,191,190);
  font-size: 1.5rem;
  margin: 0 0 0 3%;
}

.double .radioLoaned{
  width: 4%;
}

.reveal-if-active {
  opacity: 0;
  overflow: hidden;
  width: 12%;
}

input[type="radio"]:checked ~ .reveal-if-active {
  opacity: 1;
  overflow: visible;
}

input[type="radio"]:checked ~ .reveal-if-active input{
  height: 2.5em;
}

/* submit button */
form > input:last-child {
  font-size: 1.5rem;
  margin-top: 1%;
  margin-left: 16%;
  width: 81%;
  background-color: rgb(70,73,81, 0.8);
}

footer{
  background-color: rgba(112,84,64,0.9);
  margin: 55px 0 5px 0;
  height: 75px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
}

footer > p{
  font-size: 1.3rem;
  color: rgba(192,191,190);
  text-decoration: none;
}

footer > div{
  display: flex;
  flex-direction: row;
  width: 14%;
}

footer > div > a {
  font-size: 1rem;
  color: rgba(192,191,190);
  text-decoration: none;
  margin-right: 20%;
}

/* ********** scrollbar ************ */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(192,191,190);
  border-radius: 10px;
}

@media (max-width: 450px) {

  h1{
    font-size: 2.3rem;
  }

  nav ul{
   flex-wrap: wrap;
   height: 16vh;
   overflow: scroll;
  }
 
 nav li{
   margin: 2%;
 }

  nav a{
   font-size: 1.3rem;
 }

 main{
   width: 100%;
 }

 form{
   width: 95%;
 }

 form > div{
   display: flex;
   flex-direction: column;
 }

  form > div > label{
    font-size: 1rem;
    margin: 1% 0;
    width: 100%;
    text-align: start;
  }

  form > div > input{
    width: 95%;
    height: 3vh;
  }

  .double > label{
    font-size: 1rem;
    margin: 1% 0;
    width: 100%;
    text-align: start;
  }

  .double > input{
    width: 95%;
    height: 3vh;
  }

  form select{
    font-size: .8rem;
    border: .5px solid black;
    width: 96%;
  }

  .double p{
    font-size: 1rem;
  }

  .double .radioLoaned{
    width: 3%;
  }

  .reveal-if-active{
    width: 10%;
  }

  input[type="radio"]:checked ~ .reveal-if-active input{
    height: 1em;
    width: 300%;
  }
}