<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <div th:replace="~{common :: styling}"></div>
    <link th:href="@{/css/details.css}" rel="stylesheet" type="text/css">
    <title th:text="${season.getTitle() + ' Details'}"></title>
</head>

<body>
    <div th:replace="~{common :: navbar}"></div>
    <header>
        <h1 th:text="${season.getTitle()}"></h1>
        <form th:action="${'tv/season/' + season.getId()}" th:method="delete" class="delete">
            <button>Remove From Collection</button>
        </form>
    </header>

    <div th:if="${season.isLoaned() == true}" class="iAmLoaned">
        <h2 th:text="${'YOU HAVE LOANED ' + season.getTitle() + ' OUT TO ' + season.getLoanedTo()}"></h2>
    </div>

    <div class="details">
        <img th:src="${season.getCoverArt()}">
        <div>
            <div>
                <p th:text="${'This season has ' + season.getNumOfEpisodes() + ' episodes.'}"></p>
                <p th:text="${'Was released in the year ' + season.getReleaseDate()}"></p>
                <p th:text="${'Genre: ' + season.getGenre()}"></p>
                <p th:text="${season.getTitle() + ' is rated ' + season.getRating()}"></p>
                <p th:text="${'Rotten Tomatoes score of: ' + season.getRottenTomatoes()}"></p>
                <a th:href="${season.getImdbLink()}" th:text="${'Link to the IMDB page for ' + season.getTitle()}"></a>
            </div>
            <div>
                <ul class="actorList">
                    <li th:each="actor : ${season.getTvActors()}">
                        <a th:href="${'/actors/update/' + actor.getId()}" th:text="${actor.getFirstName() + ' ' + actor.getLastName()}"></a>
                    </li>
                </ul>
                <p th:text="${'You own ' + season.getTitle() + ' in ' + season.getDvdOrBluRay() + ' form.'}"></p>
            </div>
        </div>
    </div>

    <button type="button" class="formButton">Update Season</button>

    <div class="formsToggle">
        <form method="post" th:action="${'/tv/update/' + season.getId()}">
            <div>
                <label for="title">Title</label>
                <input id="title" name="title" th:value="${season.getTitle()}">
            </div>
            <div>
                <label for="coverArt">Cover Art</label>
                <input id="coverArt" name="coverArt" type="url" th:value="${season.getCoverArt()}">
            </div>
            <div class="double">
                <label for="numOfEpisodes">Number of Episodes</label>
                <input id="numOfEpisodes" name="numOfEpisodes" type="number" min="1" th:value="${season.getNumOfEpisodes()}">

                <label for="releaseDate">Realease Year</label>
                <input id="releaseDate" name="releaseDate" type="number" min="1800" max="3000" th:value="${season.getReleaseDate()}">
            </div>
            <div class="double">
                <label for="dvdOrBluRay">DvD or BluRay</label>
                <input id="dvdOrBluRay" name="dvdOrBluRay" th:value="${season.getDvdOrBluRay()}">

                <label for="genre">Genre</label>
                <input id="genre" name="genre" th:value="${season.getGenre()}">
            </div>
            <div class="double">
                <label for="rating">Rating</label>
                <select name="rating" id="rating">
                    <option value="" selected hidden>TVCR Rating</option>
                    <option value="notYetRated">Not Yet Rated</option>
                    <option value="TV-Y">TV-Y</option>
                    <option value="TV-Y7">TV-Y7</option>
                    <option value="TV-G">TV-G</option>
                    <option value="TV-PG">TV-PG</option>
                    <option value="TV-14">TV-14</option>
                    <option value="TV-MA">TV-MA</option>
                </select>

                <label for="rottenTomatoes">Rotten Tomatoes Score</label>
                <input id="rottenTomatoes" name="rottenTomatoes" type="number" step="0.01" min="0" max="1" th:value="${season.getRottenTomatoes()}">
            </div>
            <div>
                <label for="imdbLink">IMDB URL</label>
                <input id="imdbLink" name="imdbLink" type="url" th:value="${season.getImdbLink()}">
            </div>
            <div class="double">
                <label for="actors">Actors</label>
                <select name="actors" id="actors">
                    <option value="" selected hidden>Prominent Actors</option>
                    <option th:each="actor : ${actors}" th:value="${actor.getId()}" th:text="${actor.getFirstName()} + ' ' + ${actor.getLastName()}"></option>
                </select>

                <label for="loaned">Loaned Out</label>
                <p>Yes</p>
                <input class="radioLoaned" name="loaned" type="radio" value="true" id="loaned">
                <div class="reveal-if-active">
                    <input name="loanedTo" id="loanedTo" placeholder="Loaned Out To">
                </div>
                <p>No</p>
                <input class="radioLoaned" name="loaned" type="radio" value="false">
            </div>

            <input type="submit">
        </form>
    </div>

</body>
<div th:replace="~{common :: footer}"></div>

</html>