<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common :: styling}"></div>
    <title>All Movies</title>
</head>
<body>
    <header>
    <h1>Your Collection</h1>
    </header>

    <h2>Add a new movie to your collection</h2>
    <!--TODO: hide form, show when button pressed-->
    <form method="post" action="/movies/newmovie">
        <div>
        <label for="title">Title</label><input id="title" name="title">
        </div>
        <div>
        <label for="coverArt">Cover Art</label><input id="coverArt" name="coverArt" type="url">
        </div>
        <div class="double">
        <label for="duration">Duration (in minutes)</label><input id="duration" name="duration" type="number" min="10">
        <label for="releaseDate">Realease Year</label><input id="releaseDate" name="releaseDate" type="number" min="1800" max="3000">
        </div>
        <!--<label for="actors">Actors</label><input id="actors" name="actors">-->
        <div class="double">
        <label for="dvdOrBluRay">DvD or BluRay</label><input id="dvdOrBluRay" name="dvdOrBluRay">
        <label for="genre">Genre</label><input id="genre" name="genre">
        </div>
        <div class="double">
        <label for="rating">Rating</label><input id="rating" name="rating">
        <label for="imdb">IMDB URL</label><input id="imdb" name="imdb" type="url">
        </div>
        <div>
        <label for="tomatoes">Rotten Tomatoes Score</label><input id="tomatoes" name="tomatoes" type="number" step="0.01" min="0" max="1">
        </div>
        <input type="submit">
    </form>

    <!--TODO: Create a way for the user to sort the movies-->

    <ul>
        <li th:each="movie : ${movies}" class="movieItems">
            <h3 th:text="${movie.getTitle()}"></h3>
            <img th:src="${movie.getCoverArt()}">
            <a th:href="${'/movies/update/' + movie.getId()}">Further Detail</a>
            <!--TODO: add link to detail page-->
        </li>
    </ul>

</body>
</html>