<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common :: styling}"></div>
    <title>All Movies</title>
</head>
<body>

    <h1>Your Collection</h1>

    <h2>Add a new movie to your collection</h2>
    <form method="post" action="/movies/newmovie">
        <label for="title">Title</label><input id="title" name="title">
        <label for="coverArt">Cover Art</label><input id="coverArt" name="coverArt">
        <label for="duration">Duration (in minutes)</label><input id="duration" name="duration">
        <label for="releaseDate">Realease Year</label><input id="releaseDate" name="releaseDate">
        <!--<label for="actors">Actors</label><input id="actors" name="actors">-->
        <label for="dvdOrBluRay">DvD or BluRay</label><input id="dvdOrBluRay" name="dvdOrBluRay">
        <label for="genre">Genre</label><input id="genre" name="genre">
        <label for="rating">Rating</label><input id="rating" name="rating">
        <label for="imdb">IMDB url</label><input id="imdb" name="imdb">
        <label for="tomatoes">Rotten Tomatoes URL</label><input id="tomatoes" name="tomatoes">
        <input type="submit">
    </form>

    <!--TODO: Create a way for the user to sort the movies-->

    <ul>
        <li th:each="movie : ${movies}">
            <h3 th:text="movie.getTitle()"></h3>
            <img th:src="${movie.getCoverArt()}">
            <!--TODO: add link to detail page-->
        </li>
    </ul>

</body>
</html>