<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

    <head th:fragment="styling">
        <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script th:src="@{/js/app.js}"></script>

    </head>

    <nav th:fragment="navbar">
        <ul>
            <li>
                <a th:href="@{/}">Home</a>
            </li>
            <li>
                <!--TODO: change route when series page exists-->
                <a th:href="@{/movies/allmovies}">Series Collection</a>
            </li>
            <li>
                <a th:href="@{/movies/allmovies}">Movie Collection</a>
            </li>
            <li>
                <a th:href="@{/tv/allTv}">TV Collection</a>
            </li>
            <li>
                <!--TODO: change route when aactor page exists-->
                <a th:href="@{/actors/allactors}">Actor Collection</a>
            </li>
        </ul>
    </nav>

    <footer th:fragment="footer">
        <p>A Nicole Kalbfleisch Work</p>
        <div>
            <a href="https://github.com/Tw1stedRain">GitHub</a>
            <a href="https://www.linkedin.com/in/nicole-kalbfleisch/">LinkedIn</a>
        </div>
    </footer>

</body>

</html>