<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <div th:replace="~{common :: styling}"></div>
  <link th:href="@{/css/collection.css}" rel="stylesheet" type="text/css">

  <title>Media Collection</title>
</head>

<body>
  <div th:replace="~{common :: navbar}"></div>
  <main>
    <h1 class="splashHeader">Welcome to Gary's Media Collection</h1>

    <ul class="collectionList">
      <li class="movieItems splash">
        <a th:href="@{/series/allseries}">
          <div>
            <h3>
              Series Collection
            </h3>
            <img src="https://cdn.pixabay.com/photo/2016/11/26/19/16/three-d-1861455_960_720.png">
          </div>
        </a>
      </li>
      <li class="movieItems splash">
        <a th:href="@{/movies/allmovies}">
          <div>
            <h3>
              Movie Collection
            </h3>
            <img src="http://res.publicdomainfiles.com/pdf_view/65/13920125412026.png">
          </div>
        </a>
      </li>
      <li class="movieItems splash">
        <a th:href="@{/tv/allTv}">
          <div>
            <h3>
              TV Collection
            </h3>
            <img src="https://cdn.pixabay.com/photo/2012/04/01/18/38/television-23936_960_720.png">
          </div>
        </a>
      </li>
      <li class="movieItems splash">
        <a th:href="@{/actors/allactors}">
          <div>
            <h3>
              Actor Collection
            </h3>
            <img src="https://cdn.pixabay.com/photo/2018/02/19/15/41/silhouette-3165391_960_720.png">
          </div>
        </a>
      </li>
    </ul>

  </main>
  <div th:replace="~{common :: footer}"></div>
</body>

</html>