<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <div th:replace="~{common :: styling}"></div>
  <link th:href="@{/css/error.css}" rel="stylesheet" type="text/css">

  <title>Media Collection</title>
</head>

<body>
  <div th:replace="~{common :: navbar}"></div>
  <main>
    <!-- TODO: give page content to represent a splash page -->
    <h1>Welcome to Gary's Media Collection</h1>

  </main>
  <div th:replace="~{common :: footer}"></div>
</body>

</html>